# Node
/node_modules
npm-debug.log
yarn-error.log

# Visual Studio Code
.vscode
.history/*
.editorconfig

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
.angular